<!DOCTYPE html>
<html class="mainbd">
    <head class="headbd">
        {% include head.html %}
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
              <a href="{{ site.links.base_url }}"><p>RblxLuauDevCode</p></a>
              <nav>
                <a href="/">1</a>
                <a href="/">2</a>
                <a href="/">3</a>
                <a href="/">4</a>
                <a href="/">5</a>
                <a href="/">6</a>
                <a href="/">7</a>
                <a href="/">8</a>
              </nav>
            </header>
            <main class="appmain">
                {{ content }}
            </main>
            <footer class="footer">
                <p>Licensed with Apache License</p>
                <address>
                    <a href="{{ site.links.social_media.youtube }}">Rblx Luau Dev Code Youtube Channel</a>
                    <a href="{{ site.links.social_media.github }}">RblxLuauDevCode Github Account</a>
                    <a href="{{ site.links.social_media.roblox.group }}">RblxLuauDevCode Roblox Group</a>
                    <a href="{{ site.links.social_media.roblox.owner }}">Profile page of group owner</a>
                </address>
            </footer>
          </div>
    </body>
</html>