<!DOCTYPE html>
<html class="mainbd">
    <head class="headbd">
        {% include head.html %}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXB67NM"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="wrapper">
            <header class="header">
              <a href="{{ site.links.base_url }}">RblxLuauDevCode</a>
              <button type="button" class="menuicon box-shao material-symbols-outlined">menu</button>
              <nav>
                <a href="https://rblxluaudevcode.hateblo.jp" class="loadIcon">
                    <p>blog</p>
                </a>
                <a href="" class="loadIcon">
                    <p>NONE</p>
                </a>
                <a href="" class="loadIcon">
                    <p>NONE</p>
                </a>
              </nav>
            </header>
            <main class="appmain">
                {{ content }}
            </main>
            <aside class="aside">
                <p>this section is in-development.</p>
            </aside>
            <footer class="footer clear">
                <p>Licensed with Apache License</p>
                <address>
                    <a href="{{ site.links.social_media.youtube }}">Rblx Luau Dev Code Youtube Channel</a>
                    <a href="{{ site.links.social_media.github }}">RblxLuauDevCode Github Account</a>
                    <a href="{{ site.links.social_media.roblox.group }}">RblxLuauDevCode Roblox Group</a>
                    <a href="{{ site.links.social_media.roblox.owner }}">Profile page of group owner</a>
                </address>
            </footer>
          </div>
          <script src="/assets/icondetect.js"></script>
    </body>
</html>